
.before {
	padding: 10px 25px;
	margin-top: 100px;
	color: #db5461;
	opacity: 1;

	transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
}

.before.hide {
	opacity: 1;
	-webkit-transform: translate(0, 95px);
	-moz-transform: translate(0, 95px);
}

.inside {
	background: none !important;
	padding: 10px 25px;
	color: #70C1B3;

	transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-webkit-transform: translate(0, -95px);
	-moz-transform: translate(0, -95px);
}

.inside.final {
	-webkit-transform: translate(0, 0px);
	-moz-transform: translate(0, 0px);
}

.rectangle {
	color: #1d1d1d;
	padding: 10px 15px;
	border: 4px solid;
}

.rectangle a {
	color: #db5461 !important;
}

.rectangle a:hover {
	opacity: 0.7;
}

.box-cont {
	margin-top: 15%;
	position: relative;
	width: 100%;
	height: 2.2em;
}

.box {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.box div {
	background: #70C1B3;
	position: absolute;
	transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
}

.box .left {
	left: 0;
	top: 0;
	width: 4px;
	height: 0;
}

.box .right {
	right: 0;
	top: 0;
	width: 4px;
	height: 0;
}

.box .top {
	left: 0;
	top: 0;
	height: 4px;
	width: 0;

	transition: all 400ms ease-out;
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
}

.box .bottom {
	left: 0;
	top: 96%;
	height: 4px;
	width: 0;

	transition: all 400ms ease-out;
	-webkit-transition: all 400ms ease-out;
	-moz-transition: all 400ms ease-out;
}

.final.left {
	height: 100% !important;
}

.right.final {
	height: 100% !important;
}

.top.final {
	width: 100% !important;
}

.bottom.final {
	width: 100% !important;
}

.tooltip {
	position: absolute;
	right: 0;
	margin-top: 5em;
	font-size: 0.45em;
	color: #db5461;
	opacity: 0;

	transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
}

.beforeList {
	margin-top: 5em;
	font-size: 0.45em;
	color: #db5461;
	padding: 0;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 3;
}

.beforeList div {
	-webkit-transform: translate(0, -55px);
	-moz-transform: translate(0, -55px);

	transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
}

.beforeList.show div{
	-webkit-transform: translate(0, 0px);
	-moz-transform: translate(0, 0px);
}

.beforeList a {
	color: #db5461;
	text-decoration: none;
	border-bottom: 1px dashed;
}

.beforeList a:hover {
	border-bottom: 1px solid;
}

#second {
	transition-delay: 100ms;
}

#third {
	transition-delay: 200ms;
}

#fourth {
	transition-delay: 300ms;
}

.landing {
	height: 100%;
	background: url('../img/dot-pattern-foremost.png') no-repeat center center fixed; */
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

 }

.landing .arrow {
	bottom: 100px;
	position: absolute;
	z-index: 4;
	width: 100%;
	text-align: center;
	color: #db5461;
	opacity: 0;

	transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
}

.landing .arrow span{
	margin-left: -2px;
}

.arrow .inner {
	opacity: 1;
	display: inline-block;
	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
}

.arrow .inner:hover {
	cursor: pointer;
	margin-bottom: 7px;
}

.port {
	height: 100%;
	background-color: #F2F2F2;
	z-index: 4;
	position: relative;
}


.portfolio {
	text-align: left;
}

.portfolio .year {
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 70px;
	margin-top: 70px;
}

.portfolio .year::after {
	content: '';
	clear: both;
}

.portfolio .proj {
	margin-bottom: 40px;
	font-size: 1em;
	transition: all 250ms ease-out;
	font-weight: 400;
	padding: 0px 20px 10px 20px;
	border-left: 2px solid;
}

.portfolio .proj:hover {
	color: #DB5461;
	border-color: #DB5461 !important;
	cursor: pointer;
}

.portfolio .proj .title {
	font-weight: 500;
	float: left;
}

.portfolio .proj .where {
	display: none;
	float: right;
	font-size: 0.4em;
	margin-top: -2px;
	margin-right: -22px;
	border: 2px solid;
	padding: 8px;
}

.portfolio .proj .where::after {
	content: '';
	right: 0;
	height: 30px;
	width: 1.8px;
	opacity: 0;
	position: absolute;
	background-color: #1d1d1d;
}

.portfolio .proj .desc {
	clear: both;
	font-size: 0.4em;
}



.row {
	margin-top: 4%;
}



.landingPort {
	text-align: center;
	margin-top: 0px !important;
	position: relative;
	color: #DB5461;
}

.landingPort .year {
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 70px;
	margin-top: 70px;
}

.landingPort .year::after {
	content: '';
	clear: both;
}

.landingPort .proj {
	height: 200px;
	padding: 10px;
	text-align: center;
	font-size: 1em;
	transition: all 250ms ease-out;
	font-weight: 400;
	border: 4px solid #DB5461;
	background: #fff;
	color: #DB5461;
}

.landingPort .proj:hover {
	
	
	border-color: #DB5461 !important;
	background-color: #DB5461;
	color: #fff;
	cursor: pointer;
}

.landingPort .proj .title {
	font-weight: 600;
	margin-top: 0.4em;
}

.landingPort .proj .where {
	display: none;
	float: right;
	font-size: 0.4em;
	margin-top: -2px;
	margin-right: -22px;
	border: 2px solid;
	padding: 8px;
}

.landingPort .proj .where::after {
	content: '';
	right: 0;
	height: 30px;
	width: 1.8px;
	opacity: 0;
	position: absolute;
	background-color: #1d1d1d;
}

.landingPort .proj .desc {
	clear: both;
	font-size: 0.4em;
	padding: 10px;
}



/* box scrolling transitions */
.inside {
	width: 100%;
	position: relative;
	height: 60px;
}

.inside > ul {
	margin: 0;
	padding: 0;
	padding-top: 2px;
	position: relative;
	list-style: none;

}

.inside li {
	position: relative;
	pointer-events: none;
	opacity: 0;
	z-index: 999;

}

.inside .current {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}

.itemwrap {
	position: relative;
}

.itemwrap li {

	position: relative;
	visibility: hidden;
	height: 0;

}

.itemwrap li > span > em {
	font-weight: 100;
	font-size: 0.4em;
	color: #FF8000;
}

.itemwrap li.current,
.no-js .itemwrap li {
	visibility: visible;
	height: 0;
	-webkit-transition: none;
	transition: none;
}

.itemwrap li > span {
	display: block;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.itemwrap li.current > span,
.no-js .itemwrap li > span {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.show-next > span {
	opacity: 1;
	z-index: 1000;
	-webkit-animation: moveUpFromDown 1s both;
	animation: moveUpFromDown 1s both;
}

.move-out > span {
	
	-webkit-animation: moveOut 0.7s both;
	animation: moveOut 0.7s both;
}

@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes moveOut {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(-110%); }
}

@keyframes moveOut {
	from { -webkit-transform: translateY(0); transform: translateY(0); }
	to { -webkit-transform: translateY(-110%); transform: translateY(-110%); }
}
