@font-face {
  font-family: 'Uni Sans';
  font-weight: 100;
  src: url('../fonts/unisansfree/Uni Sans Thin.otf');
}
@font-face {
  font-family: 'Uni Sans';
  font-weight: 700;
  src: url('../fonts/unisansfree/Uni Sans Heavy.otf');
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Bold.otf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}




/* background */
html { 
   /*50514F background: url('../londanBlur.png') no-repeat center center fixed; */
   background-color: #fff;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   -webkit-font-smoothing: antialiased;

}

body {
	margin: 0;
	color: #1d1d1d;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

canvas {
	position: fixed;
	top: 0;
	margin: 0;
	max-width: 100%;
	max-height: 100%;
	opacity: 0;
	z-index: 0;

	transition: all 2000ms ease;
	-webkit-transition: all 2000ms ease;
	-moz-transition: all 2000ms ease;
}

.fullopacity {
	opacity: 1 !important;
}

.container {
	max-width: 100%;
	margin: 0;
	width: 100%;
}

.centered {
	text-align: left;
	font-size: 2.5em;
	left: 15%;
	right: 15%;
	position: absolute;
	opacity: 0;
	z-index: 4;

	transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
}

.centered .header a {
	text-decoration: none;
	color: #fafafa;
}

.centered hr {
	background-color: #1d1d1d;
	height: 2px;
	width: 100%;
	border: 0;
	margin-left: 3px;
	margin-top: 0;
}


.overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.6);
}

.spacer {
	height: 250px;
	position: relative;
	width: 100%;
}


.top {
	position: fixed;
	left: 1.5%;
	z-index: 6;
	width: 20%;

	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
}

.hideTop {
	opacity: 0;
	-webkit-transform: translate(0, -35px);
	-moz-transform: translate(0, -35px);
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 5;
	font-size: 1.5em;
	opacity: 1;
	background: #F2F2F2;
	
	transition: all 350ms ease-out;
	transition-delay: 100ms;
}

.nav::after {
	content: '';
	height: 1.8px;
	left: 25%;
	width: 0;
	right: 25%;
	bottom: 0;
	opacity: 0.8;
	background: #1d1d1d;
	position: absolute;
	transition: all 350ms ease-out;
}

.showNav::after {
	width: 50%;
}

.showNav .left,
.showNav .right {
	opacity: 1 !important;
	-webkit-transform: translate(0, 0) !important;
	-moz-transform: translate(0, 0) !important;
}

.nav .left {
	opacity: 0;
	margin-top: 20px;
	margin-left: 25%;
	float: left;

	transition: all 350ms ease-out;
	-webkit-transform: translate(0, 35px);
	-moz-transform: translate(0, 35px);
	transition-delay: 250ms;
}

.nav .right {
	opacity: 0;
	float: right;
	margin-right: 25%;
	margin-top: 20px;

	transition: all 350ms ease-out;
	-webkit-transform: translate(0, 35px);
	-moz-transform: translate(0, 35px);
	transition-delay: 250ms;

}

.nav .right a:nth-child(1) {
	margin-right: 15px;
}


.footer {
	font-family: 'Open Sans', sans-serif;
    font-weight: 100;
	font-size: 0.4em;
	position: relative;
	margin-left: 2px;
	margin-top: -5px;
	transition-delay: 950ms !important;
	-webkit-transform: translate(-10px) !important;
	-moz-transform: translate(-10px) !important;
}

.nav .right > a,
.footer > a {
	text-decoration: none;
	font-weight: 400;
	color: #1d1d1d;
}

.footer > a:nth-child(2), 
.footer > a:nth-child(3),
.footer > a:nth-child(4) {
	margin-left: 1.5em;
}

.nav .right > a:hover,
.footer > a:hover {
	color: #DB5461;
	cursor: pointer;
}

.show {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	opacity: 1 !important;
}

.dontshow {
	opacity: 0;
	transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-webkit-transform: translate(-20px);
	-moz-transform: translate(-20px);

	transition-delay: 700ms;
}

.leftShow::before {
	height: 80% !important;
}

.leftSide {
	font-family: 'Open Sans', sans-serif;
    font-weight: 100;
	position: relative;
	top: 20px;
	margin-left: 4%;
	z-index: 4;
	font-size: 2.5em;
	color: #DB5461;
	padding-left: 15px;
	margin-top: 1.5%;
}

.leftSide::before {
	content: '';
	top: 20%;
	height: 0%;
	width: 2px;
	margin-left: -15px;
	opacity: 0.8;
	background: #DB5461;
	position: absolute;
	transition: all 350ms ease-out;
	transition-delay: 300ms;
}


@media all and (min-width: 1300px){
	body {
		font-size: 17px;
	}
}

@media all and (max-width: 1299px) and (min-width: 1060px){
	body {
		font-size: 17px;
	}
}

@media all and (max-width: 1059px) and (min-width: 910px){
	body {
		font-size: 17px;
	}
}

@media all and (max-width: 909px) and (min-width: 605px){
	body {
		font-size: 17px;
	}
}

@media all and (max-width: 604px) and (min-width: 405px){
	body {
		font-size: 10px;
	}
}

@media all and (max-width: 404px){
	body {
		font-size: 10px;
	}
}

