@font-face {
  font-family: 'Uni Sans';
  font-weight: 100;
  src: url('../fonts/unisansfree/Uni Sans Thin.otf');
}
@font-face {
  font-family: 'Uni Sans';
  font-weight: 700;
  src: url('../fonts/unisansfree/Uni Sans Heavy.otf');
}
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-Bold.otf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}




/* background */
html { 
   /*background: url('../londanBlur.png') no-repeat center center fixed; */
   background-color: #F2F2F2;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   -webkit-font-smoothing: antialiased;

}

body {
	margin: 0;
	color: #1d1d1d;
}

canvas {
	z-index: 0 !important;
	position: absolute;
	top: 0;
	margin: 0;
	max-width: 100%;
	max-height: 100%;
	opacity: 0;

	transition: all 2000ms ease-out;
	-webkit-transition: all 2000ms ease-out;
	-moz-transition: all 2000ms ease-out;
}

.canvasshow {
	opacity: 1;
}

.centered {
	font-family: 'Open Sans', sans-serif;
    font-weight: 100;
	text-align: left;
	font-size: 2.5em;
	top: 20%;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	position: absolute;
	z-index: 5 !important;
	opacity: 0;
}

.spacer {
	height: 500px;
	position: relative;
	width: 100%;
}

.centered hr {
	background-color: #1d1d1d;
	height: 2px;
	width: 100%;
	border: 0;
	margin-left: 3px;
	margin-top: 0;
}

.border {
	border: 0px solid #1d1d1d;
	position: absolute;
	top: 2%;
	left: 1.5%;
	right: 1.5%;
	bottom: 2.5%;
	z-index: 4;
}


.footer {
	font-family: 'Open Sans', sans-serif;
    font-weight: 100;
	font-size: 0.4em;
	position: relative;
	margin-left: 2px;
	margin-top: -5px;
	transition-delay: 950ms !important;
	-webkit-transform: translate(-10px) !important;
	-moz-transform: translate(-10px) !important;
	/*z-index: 5;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0); */
}

.footer > a {
	text-decoration: none;
	font-weight: 400;
	color: #1d1d1d;
}

.footer > a:nth-child(2), 
.footer > a:nth-child(3),
.footer > a:nth-child(4) {
	margin-left: 1.5em;
}


.footer > a:nth-child(2):hover {
	color: #F5CB5C;
} 

.footer > a:nth-child(3):hover {
	color: #8AA29E;
}

.footer > a:nth-child(4):hover {
	color: #604D53;
}

.footer > a:hover {
	color: #DB5461 !important;
	cursor: pointer;
}

.show {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	opacity: 1 !important;
}

.dontshow {
	opacity: 0;
	transition: all 350ms ease-out;
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-webkit-transform: translate(-20px);
	-moz-transform: translate(-20px);

	transition-delay: 700ms;
}

.leftShow::before {
	height: 80% !important;
}

.leftSide {
	font-family: 'Open Sans', sans-serif;
    font-weight: 100;
	position: relative;
	top: 20px;
	margin-left: 4%;
	z-index: 4;
	font-size: 2.5em;
	color: #DB5461;
	padding-left: 15px;
}

.leftSide::before {
	content: '';
	top: 20%;
	height: 0%;
	width: 1.8px;
	margin-left: -15px;
	opacity: 0.8;
	background: #DB5461;
	position: absolute;
	transition: all 350ms ease-out;
	transition-delay: 300ms;
}


@media all and (min-width: 1300px){
	body {
		font-size: 17px;
	}
}

@media all and (max-width: 1299px) and (min-width: 1060px){
	body {
		font-size: 14px;
	}

	.second {
		max-height: 1.2em !important;
	}
}

@media all and (max-width: 1059px) and (min-width: 910px){
	body {
		font-size: 12px;
	}
	.second {
		max-height: 1.2em !important;
	}
}

@media all and (max-width: 909px) and (min-width: 605px){
	body {
		font-size: 8px;
	}
	.second {
		max-height: 1.2em !important;
	}

	.switch {
		border-width: 1px !important;
	}
}

@media all and (max-width: 604px) and (min-width: 405px){
	body {
		font-size: 5px;
	}
	.second {
		max-height: 1.2em !important;
	}

	.switch {
		border-width: 1px !important;
	}
}

@media all and (max-width: 404px){
	body {
		font-size: 3.5px;
	}

	.second {
		max-height: 1.2em !important;
	}

	.line:nth-child(2){
		margin-left: -1.5em !important;
	}

	.switch {
		border-width: 1px !important;
	}
}




.subtext {
	font-family: 'Open Sans', sans-serf;
	font-weight: 100;
	font-size: 2.2em;
	position: absolute;
	margin-top: -25px;
	margin-left: 1%;
}

.first {
	font-weight: 300;
	float: left;
}

.second {
	font-weight: 800;
	max-height: 1.5em;
	margin-left: 10px;
	padding: 1px;
	padding-bottom: 1px;
	padding-top: 0;
	white-space: nowrap;
	float: left;
	overflow: hidden;
}

.line {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #1d1d1d;
	font-size: 2.2em;
}

.line span {
	font-weight: 800;
	font-size: 1.2em;
}

.switch {
	margin-bottom: 25px;
	margin-top: 0px;
	/* #FF8000 */
}

.infoContent {
	margin-top: 7em;
	margin-left: 9%;
	width: 80%;
	position: relative;
}



.line {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 0;
}

/*
.line:nth-child(1){
	margin-left: 16em;
}

.line:nth-child(2){
	margin-left: 13.8em;
}

.line:nth-child(3){
	margin-left: 16em;
}

.line:nth-child(4){
	margin-left: 14em;
}

.line:nth-child(5){
	margin-left: 15.2em;
}

.line:nth-child(6){
	margin-left: 13.8em;
} */



/* item transitions */

.cont {
	max-width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: 60px;
}

.cont > ul {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;

}

.cont li {
	position: relative;
	pointer-events: none;
	opacity: 0;
	z-index: 999;

}

.cont .current {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}

.itemwrap {
	position: relative;
}

.itemwrap li {
	position: relative;
	visibility: hidden;
	height: 0;
}

.itemwrap li > span > em {
	font-weight: 100;
	font-size: 0.5em;
	color: #1d1d1d;
}

.itemwrap li.current,
.no-js .itemwrap li {
	visibility: visible;
	height: 0;
	-webkit-transition: none;
	transition: none;
}

.itemwrap li > span {
	display: block;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.itemwrap li.current > span,
.no-js .itemwrap li > span {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.show-next > span {
	opacity: 1;
	z-index: 1000;
	-webkit-animation: moveUpFromDown 1s both;
	animation: moveUpFromDown 1s both;
}

.move-out > span {
	-webkit-animation: moveOut 0.7s both;
	animation: moveOut 0.7s both;
}

@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes moveOut {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(-110%); }
}

@keyframes moveOut {
	from { -webkit-transform: translateY(0); transform: translateY(0); }
	to { -webkit-transform: translateY(-110%); transform: translateY(-110%); }
}



