
.phrase {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #fff;
	font-size: 50px;
}

.form {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	height: 55px;
	font-size: 40px;
	background-color: rgba( 0, 0, 0, 0.05);
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
}

.form:hover,
.form:focus {
	border: 2px solid #FF8330;
	outline-color: #FF8330;
}

.btn {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	background-image: none;
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 0px 3px 5px 3px;
}

.btn:hover,
.btn:focus {
	border: 2px solid #FF8330;
	outline-color: #FF8330;
	cursor: pointer;
}

td {
	vertical-align:top;
	padding: 20px;
	width: 50%;
}