h1 {
	color: #fff;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 70px;
}

h5 {
	font-family: 'Lato', sans-serf;
	font-weight: 100;
	color: #fff;
	font-size: 70px;
}

h5 a:visited { color: #fff; text-decoration: none;}
h5 a:link { color: #fff; text-decoration: none;}
h5 a:hover { color: #fff; font-weight: 400; text-decoration: none;}

html { 
  background: url('londanBlur.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

