h1 {
	color: #fff;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #fff;
	font-size: 70px;
	margin: 0;
}

h5 {
	font-family: 'Lato', sans-serf;
	font-weight: 100;
	color: #fff;
	font-size: 70px;
}

/* failed nav bar attempt */
h5 a:visited { color: #fff; text-decoration: none;}
h5 a:link { color: #fff; text-decoration: none;}
h5 a:hover { color: #fff; text-decoration: none; font-weight: 400;}
h5 a:active { color: #fff; text-decoration: none; font-weight: 400;}

.first {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: 45px;
	float: left;
	margin-left: 50px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
}

.second {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 50px;
	float: left;
	margin-left: 10px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	border: 2px solid #fff;
	background: rgba(255, 255, 255, 0.1);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 3px solid #fff;

}

.line {
	float: left; 
	width: 100%; 
	display: block; 
	position: relative;
}

.header {
	position: relative; 
	left: 100%; 
	float: left; 
	margin-left: -52%; 
	margin-top: 6%;
}

.l1 {
	margin-top: 1%;
	margin-left: -67%;
}

.l2 {
	margin-top: 1%;
	margin-left: -62%;
}

.l3 {
	margin-top: 1%;
	margin-left: -50%;
}

.l4 {
	margin-top: 1%;
	margin-left: -55%;
}


#fauxNav {
	position: relative; 
	float: left; 
	bottom: 100%; 
	left: 100%; 
	margin-left: -17%; 
	overflow: hidden;
}

#fauxName {
	margin-top: 13%;
	position: relative; 
	float: left; 
	left: 100%; 
	margin-left: -95%; 
	overflow: hidden;
	height: 85px;
}

#content {
	font-family: 'Lato', sans-serf;
	font-weight: 100;
	color: #fff;
	font-size: 70px;
}




/* nav bar */
ul.nav {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: 70px;
	padding: 20px;
	list-style: none;
	margin: 0;
}
.nav li a {
	padding-left: 20px;
	padding-bottom: 20px;
	height: 50px;
	line-height: 50px;
	display:block;
	position:relative;
	text-decoration: none;
	color: #fff;
}
.nav li a:hover{
	border-left: 3px solid #fff;
	padding-left: 17px;
}

/* background */
html { 
  background: url('londanBlur.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.cont {

	height: 60px;
	position: relative;
}



/* transition stuff */

.container {
	max-width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: 60px;
}

.container > ul {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;

}

.container li {
	position: relative;
	pointer-events: none;
	opacity: 0;
	z-index: 999;

}

.container .current {
	opacity: 1;
	pointer-events: auto;
	z-index: 1000;
}

.itemwrap {
	position: relative;
}

.itemwrap li {

	position: relative;
	visibility: hidden;
	height: 0;

}

.itemwrap li.current,
.no-js .itemwrap li {
	visibility: visible;
	height: 0;
	-webkit-transition: none;
	transition: none;
}

.itemwrap li > span {
	display: block;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.itemwrap li.current > span,
.no-js .itemwrap li > span {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.show-next > span {
	opacity: 1;
	z-index: 1000;
	-webkit-animation: moveUpFromDown 1s both;
	animation: moveUpFromDown 1s both;
}

.move-out > span {
	
	-webkit-animation: moveOut 0.7s both;
	animation: moveOut 0.7s both;
}

@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes moveOut {
	from { -webkit-transform: translateY(0); }
	to { -webkit-transform: translateY(-110%); }
}

@keyframes moveOut {
	from { -webkit-transform: translateY(0); transform: translateY(0); }
	to { -webkit-transform: translateY(-110%); transform: translateY(-110%); }
}
